    /*flex基本样式*/
.flex {
    width: 350px;
    height:200px;
    background: #009246;
    border:1px solid #CE2B37;
    font:14px Arial;
    /*触发弹性盒子*/
    display: flex;
    flex-direction: row;
}
.flex > div {
    flex: 1 1 auto;
    width: 30px;
    -webkit-transition: width 0.7s ease-out;
    -moz-transition: width 0.7s ease-out;
    -ms-transition: width 0.7s ease-out;
    -o-transition: width 0.7s ease-out;
    transition: width 0.7s ease-out;
}
.flex > div:nth-child(1) { background : #003256;}
.flex > div:nth-child(2) { background : #F1F2F1;}
.flex > div:nth-child(3) { background: #CE2B37;}

.flex > div:hover {
    width:200px;
}